@import url('reset.css');

.header {
  border-bottom: 1px solid #dadada;
}

.section {
  margin: 0 32px;
}

.section-header {
  display: flex;
  height: 108px;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-name {
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  font-weight: 700;
}

.nav-header-list {
  display: flex;
  
  gap: 40px;
}

.nav-header-list li a {
  color: #303031;
  text-decoration: none;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.36px;
  align-items: center;
}
